<template>
    <div>
        <div class="content-header">
            <h1>
                {{ trans('siswas.barang.title.barangs') }}
            </h1>
            <el-breadcrumb separator="/">
                <el-breadcrumb-item>
                    <a href="/backend">{{ trans('core.breadcrumb.home') }}</a>
                </el-breadcrumb-item>
                <el-breadcrumb-item :to="{name: 'admin.siswa.barangs.index'}">{{ trans('siswas.barang.title.barangs') }}
                </el-breadcrumb-item>
                <el-breadcrumb-item >
                    <span v-if="form.nama_barang">
                        {{ form.nama_barang }}
                    </span>
                </el-breadcrumb-item>
            </el-breadcrumb>
        </div>
        
            <div class="row">
                <div class="col-md-12">
                    <div class="box box-primary">
                        <div class="box-body">
                            <el-form :rules="rules" ref="form" :model="form" label-width="120px">
                                <el-form-item :label="trans('siswas.barang.title.barangs')"  prop="nama_barang">
                                    <el-input v-model="form.nama_barang"></el-input>
                                    <div class="error text-danger" v-if="errors.nama_barang">
                                        {{ errors.nama_barang[0] }}
                                    </div>
                                </el-form-item>
                                <el-form-item :label="trans('siswas.kategori.title.kategories')" prop="kategori">
                                    <el-select v-model="form.kategori" clearable placeholder="Select">
                                        <el-option
                                        v-for="item in kategori"
                                        :key="item.id"
                                        :label="item.nama_kategori"
                                        :value="item.id"
                                        >
                                        </el-option>
                                    </el-select>
                                </el-form-item>
                                <el-form-item label="Gambar">
                                    <el-upload
                                        action="https://jsonplaceholder.typicode.com/posts/"
                                        list-type="picture-card"
                                        :on-preview="handlePictureCardPreview"
                                        :on-remove="handleRemove"
                                        :before-upload="beforeUpload"
                                        prop="gambar"
                                        v-model="form.gambar">
                                        <i class="el-icon-plus"></i>
                                        
                                    </el-upload>
                                    <el-dialog :visible.sync="dialogVisible">
                                        <img width="100%" :src="dialogImageUrl" alt="">
                                    </el-dialog>
                                </el-form-item>
                            </el-form>
                        </div>
                        <div class="box-footer">
                            <el-button type="primary" @click="onSubmit('form')" :loading="loading">
                                {{ trans('core.save') }}
                            </el-button>
                            <el-button @click="onCancel()">{{ trans('core.button.cancel') }}
                            </el-button>
                        </div>
                    </div>
                </div>
            </div>
    </div>
</template>

<script>
    import axios from 'axios';

    export default {
        data() {
            return {
                form: {
                    nama_barang: '',
                    kategori: '',
                    gambar: {
                        imgName: [],
                        imgSize: [],
                        imgType: []
                    }
                },
                kategori: {},
                loading: false,
                rules: {
                    nama_barang:[
                        { required: true, message: 'Please input Product name', trigger: 'blur' }
                    ],
                    kategori : [
                        {required: true, message: 'Please choose Categories first' , trigger: 'blur'}
                    ],
                    gambar : [
                        {required: true, message: 'Please upload image first' , trigger: 'blur'}
                    ],

                },
                errors : {},
                action : window.location.origin + '/gambar/',
                dialogImageUrl: '',
                dialogVisible: false,
                disabled: false
            }
        },
        methods: {
            onSubmit(form) {
                this.$refs[form].validate((valid) => {
                    if (valid) {
                        axios.post(this.getRoute(), this.form)
                        .then( (response)  => {
                            console.log(response)
                            this.loading = false;
                            this.$message({
                                type:'success',
                                message: response.data.message
                            });
                            this.$router.push({ name: 'admin.siswa.barang.index' });
                        })
                        .catch((error) => {
                            this.loading = false;
                            this.errors = error.response.data.errors
                        });
                    } else {
                        return false;
                    }
                });
            },
            onCancel() {
                this.$router.push({ name: 'admin.siswa.barang.index' });
            },
            getRoute() {
                if (this.$route.params.barang !== undefined) {
                    return route('api.siswa.barang.update', { barang: this.$route.params.barang });
                }
                return route('api.siswa.barang.store');
            },
            fetchKategori(){
                axios.get(route('api.siswa.kategori.all')).then((response) => {
                    this.kategori = response.data.data
                })
            },
            fetchData(){
                this.loading = true;
                let routeUri = '';
                if (this.$route.params.barang !== undefined) {
                    routeUri = route('api.siswa.barang.find', { barang: this.$route.params.barang });
                    axios.post(routeUri)
                        .then((response) => {
                            this.loading = false;
                            this.form = response.data;
                    });
                } else {
                    this.loading = false;
                }
                
            },
            handleRemove(file) {
                console.log(file);
            },
            handlePictureCardPreview(file) {
                this.dialogImageUrl = file.url;
                this.dialogVisible = true;
            },
            handleDownload(file) {
                console.log(file);
            },
            beforeUpload(file){
                
                this.form.gambar.imgName.push(file.name) 
                this.form.gambar.imgSize.push(file.size)
                this.form.gambar.imgType.push(file.type)  
                console.log(this.form.gambar)
            }
        },
        mounted(){
            this.fetchData();
            this.fetchKategori();
        }
    }
</script>
<style>
    .el-upload__input {
        display: none !important;
    }
</style>